/* -webkit-appearance: none; */

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.nav {
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);
    height: 70px;
}

.logo-image {
    height: 23px;
    margin: 22px 30px;
}

.hero-image {
    height: 232px;
    margin: auto;
    display: block;
    margin-top: 26px;
    margin-bottom: 32px;
}
/* .experiences {
    width: 550px;
    margin: auto;
} */
.experiences-text > h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 110%;
    margin-bottom: 16px;
    margin-left: 36px;
}
.experiences-text > p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 110%;
    margin-left: 36px;
    color: #222222;
    width: 320px;
}
.card-image {
    height: 235px;
    border-radius: 9px;
}
.card {
    width: 178px;
    color: #222222;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    line-height: 110%;
}
.star-image {
    width: 14px;
}

.ratings {
    display: flex;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dot {
    margin-left: 2px;
    margin-right: 2px;
}

.lesson-name {
    margin-bottom: 8px;
    text-overflow: ellipsis;
}

.bold {
    font-weight: 600;
}

.cards {
    display: flex;
    gap: 18px;
    margin-top: 49px;
    margin-left: 36px;
    flex-wrap: nowrap;
    overflow-x: auto;
}

